
WebApplication1/\.idea/\.idea\.WebApplication1/\.idea/

WebApplication1/\.idea/\.idea\.WebApplication1/

WebApplication1/\.idea/config/

WebApplication1/WebApplication1/bin/

WebApplication1/WebApplication1/obj/Debug/

*.mdf

*.ldf
